<section>
  <cap-register

    [confirmPasswordInput]="true"
    [companyInput]="true"
    [firstNameInput]="true"
    [lastNameInput]="true"
    [profileInput]="false"
    [titleComponent]="'Create your Account'"
    [redirectAfterTo]="'/auth/verify'"
    [profileArrayValues]="[
      { field: 'Company', value: 'Company', id: 1 },
      { field: 'Student', value: 'Student', id: 2 }
    ]"
    (userRegisterJWT)="userRegisterJWT($event)">
    (userRegisterData)="userRegisterData($event)"
    (userRegisterError)="userRegisterError($event)"
  </cap-register>
</section>
