
<section>
  <cap-profile
    [titleComponent]="'Profile'"
    [unverifiedUserRedirectTo]="'/auth/verify'"
    [userDataErrorRedirect]="'/auth/login'"
    (userProfileData)="userProfileData($event)"
    (userProfileError)="userProfileError($event)"
    (userProfileUpdate)="userProfileUpdate($event)"
    (userProfileUpdateError)="userProfileUpdateError($event)"
    (userProfileDataBase)="userProfileDataBase($event)"
    (userProfileDataBaseUpdate)="userProfileDataBaseUpdate($event)"
    (userProfileDataBaseUpdateError)="userProfileDataBaseUpdateError($event)"
    (userProfileDataBaseError)="userProfileDataBaseError($event)">
  </cap-profile>
</section>
